<div class="toolbar">
    <div class="title">
        <span style="font-size: 35px; padding: 10px; min-width: 200px;">FindShop |</span>
        <span style="font-size: 20px; padding: 10px; min-width: 200px;">Supermercado</span>
    </div>
    <div class="esp"></div>
    <div class="navegacao">
        <span>
            <a routerLink="/dashboard">
                <p>
                    Dashboard
                </p>
            </a>
        </span>
        <span>
            <a routerLink="/gerenciamento">
                <p>
                    Gerenciamento
                </p>
            </a>
        </span>
        </div>
        <div class="esp2"></div>
        <div>
        <span class="exit">
            <a routerLink="/">
                <p>
                    sair
                </p>
            </a>
        </span>
    </div>
</div>
