<div class="conteiner">

    <div class="sub-conteiner">
        <div class="header">
            <div class="tile">
                <h1>Adicionar Seção</h1>
            </div>
        </div>
        <div class="justify-center">
            <div class="entrada justify-center">
                <input  type="text" id="secao" placeholder="Seção">
            </div>
        </div>
        <div class="justify-center">
            <button >
                Cadastrar
            </button>
        </div>
    </div>

    <div class="esp"></div>

    <div class="sub-conteiner">
        <div class="header">
            <div class="tile">
                <h1>Adicionar Produto</h1>
            </div>
        </div>

        <div class="justify-center">
            <div class="entrada justify-center">
                <input  type="text" id="produto_secao" placeholder="Seção">
            </div>
        </div>

        <div class="justify-center">
            <div class="entrada justify-center" >
                <input  type="text" id="produto_produto" placeholder="Produto">
            </div>
        </div>

        <div class="justify-center">
            <div class="entrada justify-center" >
                <input  type="image" id="produto_img" placeholder="Imagem">
            </div>
        </div>

        <div class="justify-center">
            <button >
                Cadastrar
            </button>
        </div>
    </div>
    
</div>