<div class="conteiner">

    <div class="sub-conteiner">
        <div class="header">
            <div class="tile">
                <h1>Produtos</h1>
                <h3>Maior quantidade de acessos</h3>
            </div>
            <div style="width: 10%;"></div>
            <div class="date">
                <mat-form-field appearance="fill">
                    <mat-label>Intervalo de data</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate placeholder="Start date">
                      <input matEndDate placeholder="End date">
                    </mat-date-range-input>
                    <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
            </div>
        </div>
        
        <table style="width: 100%;">
            <tbody>
                <tr *ngFor="let produto of produtos" class="lista">
                    <td class="li-produtos">
                        <span >Produto: {{produto.nome}}</span>
                    </td>
                    <td class="li-acesso">
                        <span >Acessos: {{produto.acesso}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="esp"></div>

    <div class="sub-conteiner">
        <div class="grafico" height="300">
            <canvas id="myChart" height="300" width="400"> </canvas>
        </div>
        <!-- <img src="../../../assets/grafico.webp"> -->
    </div>
    
</div>

